[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "glm"]
	path = glm
	url = git@github.com:glm
[submodule "cgltf"]
	path = cgltf
	url = git@github.com:jkuhlmann/cgltf.git
