# Build
x64*
*.obj
*.pdb
*.exp
*.ilk
*.lib
*.dll
*.exe
*.log

# VS Code
*.vscode

# Visual Studio
*.vs

# SPIR-V
*.spv

# Init Files
*.ini

# Config Files
*.conf*
*cu.optixir

# Test files
*test*