# Build
x64*
*.obj
*.pdb
*.exp
*.ilk
*.lib
*.dll
*.exe
*.log
build*

# Visual Studio
*.vs

# Init Files
*.ini

# Config Files
*.conf*

# Test files
*test*

# Optix IR Files
*.optixir