[submodule "cgltf"]
	path = cgltf
	url = git@github.com:jkuhlmann/cgltf.git
[submodule "cglm"]
	path = cglm
	url = git@github.com:recp/cglm.git
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
